<h1>Show Expert schedule</h1>

<ul>

  <li>
    <strong>Start hour:</strong>
    <%= @expert_schedule.start_hour %>
  </li>

  <li>
    <strong>End hour:</strong>
    <%= @expert_schedule.end_hour %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.expert_schedule_path(@conn, :edit, @expert_schedule) %></span> |
<span><%= link "Back", to: Routes.expert_schedule_path(@conn, :index) %></span>
