<h1>Show Appointment</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.appointment_path(@conn, :edit, @appointment) %></span> |
<span><%= link "Back", to: Routes.appointment_path(@conn, :index) %></span>
